<div class="centered">

  <ng-container *ngIf="false">
    <display-icon-form>
    </display-icon-form>
  </ng-container>


  <ng-container *ngIf="false">
    <display-icon-form-key-filter>
    </display-icon-form-key-filter>
  </ng-container>


  <ng-container *ngIf="false">
    <display-tree-table>
    </display-tree-table>
  </ng-container>


  <ng-container *ngIf="false">
    <display-dialog-confirm>
    </display-dialog-confirm>
  </ng-container>


  <!--
    if you don't want to import a tag
    you can use <div [name selector]> </div>
    dynamic-popup-p-dialog map [dynamic-popup-p-dialog] at selector on DynamicPopupWithPDailogComponent
  -->
  <ng-container *ngIf="false">
    <div display-dialog-key-filter></div>
  </ng-container>


  <!-- apply -->
  <crud-students>
  </crud-students>

</div>

